@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/merriweather-v33-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/merriweather-v33-latin-700.woff2') format('woff2');
}

@layer base {
  :root {
    --background: 80 20% 99%;
    --foreground: 240 1% 36%;

    --card: 90 18% 97%;
    --card-foreground: 240 1% 36%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 1% 36%;

    --primary: 78 40% 31%;
    --primary-foreground: 0 0% 100%;

    --secondary: 73 37% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 80 15% 94%;
    --muted-foreground: 240 1% 46%;

    --accent: 73 37% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 80 10% 88%;
    --input: 80 10% 88%;
    --ring: 78 40% 31%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Merriweather', serif;
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
}
